#col() {
  purple: #6A6083;
  navbar: #0B0B0B;
  text: #E2E2E2;
  hover: #292929;
  active: #565656;
  ltgrey: #C2C2C2;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #col[text] !important;
  height: 100%;
}

.navBar {
  background-color: #col[navbar];
  text-align: center;
  box-shadow: 0 3px #565656;

  li {
    display: inline;

    a {
      color: #col[text];
      font-size: 110%;
      font-variant: small-caps;
      text-decoration: none;
      padding: 0.25em 2em 0.25em 2em;
      display: inline-block;

      @media (max-width: 400px) {
        display: block;
      }
    }

    .active {
      background-color: #col[purple];
    }

    :hover {
      background-color: #col[active];
    }
  }
}

.home {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    justify-content: space-between;
    margin: 0;

    div {
      display: flex;
      width: 100%;
      margin: 0;
      flex-direction: column;
      justify-content: space-evenly;

      * {
        padding: 0;
        margin: 0;
        width: 100%;
      }
    }

    .img-container {
      width: 300px;
      margin-left: 1em;

      img {
        box-shadow: 3px 3px #col[ltgrey];
        width: 100%;
      }
    }

    @media (max-width: 500px) {
      flex-direction: column-reverse;
      align-items: center;
      .img-container {
        width: 210px;
      }
    }
  }

  p {
    text-align: justify;
  }

  p, h2, div {
    margin: auto;
    padding: 0.5em 0 0.5em 0;
    width: 100%;
    line-height: 1.6;

    @media (max-width: 750px) {
      width: 90%;
    }
  }

  .name {
    color: #col[purple];
    font-weight: bold;

    :nth-child(1) {
      font-size: 135%;
    }
  }

  @media (min-width: 700px) {
    margin: auto;
    width: 700px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;

  .project {
    display: flex;
    padding: 5em 0 5em 0;
    text-align: justify;

    .project-main {
      width: 25%;

      h4 {
        color: #col[purple];
      }

      .img-container {
        width: 100%;
        margin-left: 1em;

        img {
          box-shadow: 3px 3px #col[ltgrey];
          width: 100%;
        }
      }
    }

    .project-desc {
      width: 75%;
    }

    .project-main, .project-desc {
      display: flex;
      flex-direction: column;
      margin: 2em;
    }
  }

  .project:nth-child(even) {
    flex-direction: row-reverse;
    background-color: #C2C2C2;
  }
}

.contact {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
    margin: 1em 1em 1em 1em;
    background: rgba(255, 255, 255, 0.4);
    //background: rgba(0, 0, 0, 0.1);
    padding: 1em 1.5em 0 1.5em;
    border-radius: 0.5em;

    input, textarea {
      border: 1px solid #col[navbar];
    }

    @media (min-width: 500px) {
      width: 500px;
    }
  }

  h4, form {
    margin: 3em 0 0 0;
  }
}

.font-awesome {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  .fa-2x {
    color: #col[active];
    margin: 0 0.2em 0.5em 0.2em;
  }

  .fa-2x:hover {
    color: #col[purple];
  }
}